######################################################################
                                                                  #  Ruby
                                                                  ######################################################################
'.source.ruby':
  'Select array':
    'prefix': 'select'
    'body': 'select { |${1:x}| $2 }'

  'Map array':
    'prefix': 'map'
    'body': 'map { |${1:x}| $2 }'

  'Each item':
    'prefix': 'each'
    'body': 'each { |${1:x}| $2 }'

  'Function Def':
    'prefix': 'def'
    'body': 'def ${1}\n\t${2}\nend'

  'class def':
    'prefix': 'class'
    'body': 'class ${1}\n\tdef initialize\n\t${2}\n\tend\n\t\nend'

  'comment':
    'prefix': 'comment'
    'body': '######################################################################\n#\t${1:comment}\n######################################################################'
######################################################################
                                                                  #  Python
                                                                  ######################################################################
'.source.python':
  'comment':
    'prefix': 'comment'
    'body': '######################################################################\n#\t${1:Comment}\n######################################################################'

  'map':
    'prefix': 'map'
    'body': 'list(map(lambda x: x, ${1}))'

  'reduce':
    'prefix': 'reduce'
    'body': 'reduce(lambda x,y : x + y, ${1})'
######################################################################
                                                                  #  C++
                                                                  ######################################################################
'.source.cpp':
  'for statement':
    'prefix': 'for'
    'body': 'for (int i = ${1:0};i < ${2:cond}; i${3:++})\n{\n\t${4}\n}'

  'include all and main':
    'prefix': 'start'
    'body': '#include<iostream>\n#include<string>\n#include<math.h>\n#include<stdint.h>\n#include<stdlib.h>//rand() fct\n#include<algorithm> //sort, copy_if et autre\n#include<iterator> //ostream_iterator, istream_iterator, back_inserter()\n#include<functional> // bind et la librairie standard foncteur
      \n\nusing namespace std;\nusing namespace std::placeholders; // permet d\'utiliser _1 lors des bind
      \n\n int main()\n{\n\t${1}\n\treturn 0;\n}'

  '#base include':
    'prefix': '#inc'
    'body': '#include<${1}>'

  '#headers include':
    'prefix': '#inc'
    'body': '#include\'${1}.h\''

  'while':
    'prefix': 'while'
    'body': 'while (${1})\n{\n\t${2}\n}'

  'if boucle':
    'prefix': 'if '
    'body': 'if (${1})\n{\n\t${2}\n}'

  'class def':
    'prefix': 'class'
    'body': 'class ${1:class}\n{\npublic :\n\t${1}();\n\t~${1}();\n\t${2}\n\n\nprivate :\n\t${3}\n}'

  'comment Function':
    'prefix': 'comment'
    'body': '/*********************************************************************\n* ${1:Comment}\n*********************************************************************/'

######################################################################
                                                                  #  Java
                                                                  ######################################################################
'.source.java':
  'comment':
    'prefix': 'comment'
    'body': '/*********************************************************************\n* ${1:Comment}\n*********************************************************************/'

  'print':
    'prefix': 'print'
    'body': 'System.out.println(${1})'
######################################################################
                                                                  #  Latex
                                                                  ######################################################################
'.text.tex.latex':
  'fraction complete':
    'prefix': 'frac'
    'body': '\\\\frac{${1:num}}{${2:denum}}'

  'frame':
    'prefix': 'frame'
    'body': '\\\\begin{frame}\n\t\\\\frametitle{${1}}\n\t${2}\n\\\\end{frame}'

  'start':
    'prefix': 'start'
    'body': '\\\\documentclass{${1:article}}\n${2}\n\\\\begin{document}\n${3}\n\\\\end{document}'

  'title':
    'prefix': 'title'
    'body': '\\\\title{${1:name}}\n\\\\author{${2:name}}\n\\\\date{\\\\today}\n\\\\maketitle'

  'include geometry':
    'prefix': 'includegeometry'
    'body': '\\\\usepackage{geometry}\n\\\\geometry{\n\tright=20mm,\n\tleft=20mm\n}\n\\\\renewcommand{\\\\baselinestretch}{1.5}'

  'include graphicx':
    'prefix' : 'includegraphicx'
    'body' : '\\\\usepackage{graphicx}\n\\\\graphicspath{{${1:path}/}}'

  'include forest':
    'prefix': 'includeforest'
    'body': '\\\\usepackage{forest}\n\\\\forestset{qtree/.style={for tree={parent anchor=south, child anchor=north,align=center,inner sep=0pt}}}'

  'include titlepage':
    'prefix' : 'includetitlepage'
    'body' : '\\\\usepackage{titlepage}\n\n\\\\title{${1}}\n\\\\subtitle{${2}}\n\\\\dateremise{le ${3}}\n\\\\author{${4}}{${5}}{${6}}\n\\\\prof{${7}}'

  'include lstlisting':
    'prefix': 'includelstlisting'
    'body': '\\\\usepackage{listings}\n\\\\lstset{\n\\\\xleftmargin=\\\\parindent,\nframe=single,\nbasicstyle=\\\\footnotesize\n}'

  'include fancy header':
    'prefix': 'includefancyhdr'
    'body': '\\\\usepackage{fancyhdr}\n\\\\pagestyle{fancy}\n\\\\fancyhf{}\n\\\\lhead{\\\\leftmark} %Add name and number of current top level\n\\\\cfoot{\\\\thepage}\n\\\\renewcommand{\\\\headrulewidth}{0pt}\n\\\\renewcommand{\\\\footrulewidth}{0pt}'

  'includegraphics':
    'prefix': 'includegraphics'
    'body': '\\\\includegraphics[width=${1:size}\\\\textwidth]{${2:path}}'

  'include French':
    'prefix': 'includefrench'
    'body': '\\\\usepackage[francais]{babel}\n\\\\usepackage[T1]{fontenc}\n\\\\usepackage[utf8]{inputenc}'

  'include Tocloft':
    'prefix': 'includetocloft'
    'body': '\\\\usepackage{tocloft}\n\\\\setlength{\\\\cftbeforesecskip}{1mm}\n\\\\setlength{\\\\cftbeforesubsecskip}{1mm}\n\\\\setlength{\\\\cftbeforesubsubsecskip}{1mm}
\n\\\\setlength{\\\\cftsecnumwidth}{3mm}\n\\\\setlength{\\\\cftsubsecnumwidth}{6mm}\n\\\\setlength{\\\\cftsubsubsecnumwidth}{9mm}
\n\\\\setlength{\\\\cftsecindent}{3mm}\n\\\\setlength{\\\\cftsubsecindent}{6mm}\n\\\\setlength{\\\\cftsubsubsecindent}{9mm}
\n\\\\renewcommand{\\\\cftsecfont}{\\\\bfseries}\n\\\\renewcommand{\\\\cftsubsecfont}{\\\\bfseries}\n\\\\renewcommand{\\\\cftsubsubsecfont}{\\\\bfseries}
\n\\\\renewcommand{\\\\cftsecpagefont}{\\\\bfseries}\n\\\\renewcommand{\\\\cftsubsecpagefont}{\\\\bfseries}\n\\\\renewcommand{\\\\cftsubsubsecpagefont}{\\\\bfseries}
\n\\\\renewcommand{\\\\cftdot}{.}\n\\\\renewcommand{\\\\cftdotsep}{\\\\cftnodots}%or a length(default 4.5)\n\\\\renewcommand{\\\\cftsecdotsep}{\\\\cftdotsep}'

  'Add to table of contents item':
    'prefix': 'addcontentsline'
    'body': '\\\\addcontentsline{toc}{${1:subsubsection}}{\\\\hspace{5mm}\\\\the${1:subsubsection}\\\\hspace{3mm}-\\\\hspace{3mm}${2:title}}'

  'subsubsection mil':
    'prefix': 'subsubsec'
    'body': '\\\\subsubsection*{${1:title}}\n\\\\begin{itemize}[label=]\n\t\\\\item ${2}\n\\\\end{itemize}'

  'fold':
    'prefix': 'fold'
    'body': '%<fold>-----------------------------${1:top}--------------------------------\n${2}\n%</fold>---------------------------------------------------------------'

  'Code writting':
    'prefix': 'lstlisting'
    'body': '\\\\begin{lstlisting}\n\t${1}\n\\\\end{lstlisting}'

  'Multicolumn':
    'prefix': 'multicol'
    'body': '\\\\multicolumn{${1:4}}{${2:|c|}}{${3:title}}'

  'tikz picture':
    'prefix': 'tikzpicture'
    'body': '\\\\begin{tikzpicture}\n\t${1}\n\\\\end{tikzpicture}'

  'draw straight line':
    'prefix': 'drawline'
    'body': '\\\\draw (${1:x1},${2:y1}) -- (${3:x2},${4:y2});'

  'draw square line':
    'prefix': 'drawSquareline'
    'body': '\\\\draw (${1:x1},${2:y1}) -| (${3:x2},${4:y2});'

  'draw curve line':
    'prefix': 'drawCurveLine'
    'body': '\\\\draw (${1:x1},${2:y1}) to [out=${3:angledepart},in=${4:anglefin}](${5:x2},${6:y2});'

  'draw Rectangle empty':
    'prefix': 'drawRectangle'
    'body': '\\\\draw[${1:tickness},color=${2:red!60}] (${3:x1},${4:y1}) rectangle (${5:x2},${6:y2});'

  'draw Rectangle fill':
    'prefix': 'drawFillRectangle'
    'body': '\\\\filldraw[${1:tickness},color=${2:red!5},fill=${3:red!80}] (${4:x1},${5:y1}) rectangle (${6:x2},${7:y2});'

  'draw circle empty':
    'prefix': 'drawCircle'
    'body': '\\\\draw[${1:tickness},color=${2:red!60}] (${3:x1},${4:y1}) circle (${5:radius});'

  'draw Circle fill':
    'prefix': 'drawFillCircle'
    'body': '\\\\filldraw[${1:tickness},color=${2:red!5},fill=${3:red!80}] (${4:x1},${5:y1}) circle (${6:radius});'

  'draw arc':
    'prefix': 'drawArc'
    'body': '\\\\draw[${1:tickness},color=${2:red!60},${3:->}] (${4:x1},${5:y1}) arc (${6:startangle}:${7:endangle}:${8:radius});'

  'node style':
    'prefix': 'nodeStyle'
    'body': '${1:name}/.style={${2:circle},draw=${3:color}, minimum size=${4:sizemm}}'

  'node':
    'prefix': 'node'
    'body': '\\\\node[${1:type}] (${2:name}) at (${3:xy}) {${4:contenu}};'

  'node link':
    'prefix': 'nodelink'
    'body': '\\\\draw[->] (${1:nodeName}.${2:cardinalpt}) ${3:line formatting} (${4:nodeName}.${5:exnorth});'

######################################################################
                                                                  #  CoffeeScript
                                                                  ######################################################################
'.source.coffee':
  'comment':
    'prefix': 'comment'
    'body': '######################################################################\n#\t${1}\n######################################################################'

######################################################################
                                                                  #  Javascript
                                                                  #############################################u#########################
'.source.js':
  'comment':
    'prefix': 'comment'
    'body': '/*********************************************************************\n*\t${1}\n*********************************************************************/'
######################################################################
                                                                  #  HTML
                                                                  ######################################################################
'.text.html.basic':
  'div-one-liner':
    'prefix': 'div-line'
    'body': '<div class="${2}">${1}</div>'

  'comment':
    'prefix': 'comment'
    'body': '<!-- ${1} -->'
######################################################################
                                                                  #  CSS
                                                                  ######################################################################
'.source.css':
  'Comment':
    'prefix': 'comment'
    'body': '/*********************************************************************\n* ${1:Comment}\n*********************************************************************/'

  'line Comment':
    'prefix': 'commentline'
    'body': '/* ${1:Comment}\n--------------------------------------------------------------------*/'

  'positioning':
    'prefix': 'positioning'
    'body': '/* Positioning */'

  'box model':
    'prefix': 'box model'
    'body' : '/* Box model */'

  'text':
    'prefix': 'text'
    'body' : '/* Text */'

######################################################################
                                                                  #  CoffeeScript Object Notation (CSON)
                                                                  ######################################################################
'.source.cson':
  'comment':
    'prefix': 'comment'
    'body': '######################################################################\n# ${1:Comment}\n######################################################################'
######################################################################
#  Typescript
######################################################################
'.source.ts':
  'comment':
    'prefix': 'comment'
    'body': '/*********************************************************************\n* ${1:Comment}\n*********************************************************************/'
